<p style="color: green"><%= notice %></p>

<h1><%= t 'quest' %></h1>

<div id="questions">
  <% @questions.each do |question| %>
    <%= render question %>
    <p>
      <%= link_to "#{ t 'show_quest'}", question %>
    </p>
  <% end %>
</div>

<%= link_to "#{ t 'new_quest'}", new_question_path %>
<br>
<%= link_to "#{ t 'to_panel'}", admin_panel_path %>
