<h1><%= t 'adm_panel' %></h1>
<div class="mt-2 d-flex align-items-center">
    <a href="<%= new_question_path %>" class="btn btn-primary btn-lg active"><%= t 'create_quest' %></a>
</div>
<div class="mt-2 d-flex align-items-center">
  <a href="<%= users_path %>" class="btn btn-primary btn-lg active"> <%= t 'show_users' %> </a>
</div>
<div class="mt-2 d-flex align-items-center">
<%= form_with url: "/session/logout", method: :get do |form| %>
  <%= form.submit(value: "#{ t 'exit'}", id: 'exit-btn', class: "btn btn-secondary btn-lg") %>
<% end %>
</div>