<h1><%= t 'regist' %></h1>
<% flash.each do |type, msg| %>
  <% unless type == "notice" %>
    <p id = 'error' class="text-danger mt-2"><%= msg %></p>
  <% end %>
<% end %>
<%= form_with url: session_authorize_path, local: true  do |form| %>
  <div >
    <%= form.label value = "#{ t 'reg_name' }", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label value = "#{ t 'reg_password' }", style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div class="mt-2 d-flex align-items-center">
    <%= form.submit class: "btn btn-primary", value: "#{ t 'login' }" %>
    <a href="<%= new_user_path %>" class="ms-1 link text-primary"><%= t 'sign' %></a>
  </div>
<% end %>
