<%= form_with(model: variant) do |form| %>
  <% if variant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
        <% variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :variant_text, style: "display: block" %>
    <%= form.text_field :var_text %>
  </div>

  <div>
    <%= form.label :correct, style: "display: block" %>
    <%= form.check_box :correct %>
  </div>

  <div>
    <%= form.label :question_id, style: "display: block" %>
    <%= form.number_field :question_id , value: params[:id]%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
