<div id="<%= dom_id variant %>">
  <p>
    <strong><%= t 'var_text' %>:</strong>
    <%= variant.var_text %>
  </p>

  <p>
    <strong><%= t 'cor' %>:</strong>
    <%= variant.correct %>
  </p>

  <p>
    <strong><%= t 'quest_id' %>:</strong>
    <%= variant.question_id %>
  </p>

</div>
