<p style="color: green"><%= notice %></p>

<%= render @variant %>

<div>
  <%= link_to "Edit this variant", edit_variant_path(@variant) %> |
  <%= link_to "Back to variants", variants_path %>

  <%= button_to "Destroy this variant", @variant, method: :delete %>
</div>
