
<div class="row">
<div class="col-4">
<h1><%= t 'cabinet' %></h1>
<h1><%= t 'hello' %>, <%= User.find_by(id: session[:current_user_id]).name %>!<h1>
<%= form_with url: "/exam/exam_process", method: :get do |form| %>
  <%= form.submit(value: "#{ t 'pass'}", id: 'exam-btn', class: "btn btn-primary btn-lg") %>
<% end %>
<br>
<%= form_with url: "/session/logout", method: :get do |form| %>
  <%= form.submit(value: "#{ t 'exit'}", id: 'exit-btn', class: "btn btn-secondary btn-lg") %>
<% end %>
</div>
<div class="col-4">
<% exams=Examine.where(user_id: session[:current_user_id]) %>
<%if !exams.empty?%>
<h2><%= t 'statistic' %>: </h2>
<%s=0%>
<% exams.each do |exam| %>
<%s=s+exam.score%>
<h6><%= t 'date_time' %>: <%=exam.created_at%> <%= t 'score' %>: <%=exam.score%></h6>
<%end%>
<%end%>
</div>
<div class="col-4">
<%if !exams.empty?%>
<h2><%= t 'num_ex' %>: <%=exams.length%></h2>
<h2><%= t 'avg_score' %>: <%=s/exams.length.to_f%></h2>
<%end%>
</div>
</div>

