<h1><%= t 'result' %></h1>
<div id="exam-result">
<h1><%= t 'score' %>: <%= Examine.last.score %></h1>
<% protocols = Answer.where(examine_id: Examine.last.id) %>
<% protocols.each do |protocol|%>
  <%= Question.find_by(id: protocol.quest_id).quest_text %>
  <br>
  <h6 style="color:blue;"><%= t 'your_ans' %>: <%= Variant.find_by(id: protocol.user_answer).var_text %></h6>
  <h6 style="color:green;"><%= t 'cor_ans' %>: <%= Variant.find_by(question_id: protocol.quest_id, correct: true).var_text%> </h6>
<%end%>



<%= form_with url: exam_cabinet_path, method: :get do |form| %>
  <%= form.submit( value: "#{ t 'back_cab'}", id: 'to-cabinet-btn', class: "btn btn-warning btn-lg") %>
<% end %>
<div>
